.signin{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);;
    height:50rem;

    &__logo{
        width:40%;
    }

    &__form{
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:35%;
    background-color: #08022d;
    padding: 1rem;
    border-radius: 1rem;
    color: #cfcbe6;;

    }

    &__input{
        margin: 0.5rem;
        width: 100%;
        border-radius: 0.5rem;
        height:2.5rem;
        border:none;
        padding-left: 1rem;
        margin-bottom: 1.2rem;
    }
    &__buttonbox{
        width:50%;
        margin-top: 1rem;
    }

    &__button{
        background-color:  #cfcbe6;;
        border: none;
        height:2.5rem;
        width:100%;
        border-radius: 1rem;
    }

}

.log{
    padding: 1rem
}