// colors for the page

$lightpurple:#cfcbe6;
$darkblue:#08022d;
$border:2px solid rgb(89, 87, 87);
$white:#fff;


//padding

$mediumpadding:0.5rem;
$largepadding:1rem;

//breakpoints for different media
$mobile-breakpoint: 320px;
$tablet-breakpoint:768px;
$desktop-breakpoint:1440px;