.page{
height:200vh;
}
.addedcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.added{
    display: flex;
    width:20%;
    justify-content: space-evenly;
    align-content: center;
    margin: 1rem;
    text-align: center;
    height: 25%;
    position: relative;
    margin-bottom:3rem;
//     &:hover{
//          transform: scale(1.25);
// }
   

    &__imagebox{
        width:100%;
    }

    &__title{
        display: none;
        &:hover{
            display: inline;
            position: absolute;
            top:0;
            left:4rem;
            font-size: 1rem;
            width:40%;

        }
    }

    &__images{
        width:100%;
        height:12rem;
        object-fit: contain;
    }

    &__block{
        width:100%;
        background-color: #cfcbe6;
        border-radius: 1rem;
		box-shadow: 0 14px 28px rgba(184, 184, 184, 0.25), 0 10px 10px rgba(0,0,0,0.22);

}

&__caption{
    color:white;
    
}

&__delete{
    margin:1rem 0rem;
    color:rgb(0, 0, 0);
    border-bottom: 2px solid rgb(89, 87, 87);
    width:5rem;
    border:none;
    background-color: rgb(249, 177, 90);
    border-radius: 1rem;
    height:2rem;
    font-weight: 800;
    font-family: 'Nunito Sans', sans-serif;

        &:active {
            transform: translateY(4px);
        }
    }

    &__googlebutton{
        margin:1rem 0.2rem;
        color:rgb(0, 0, 0);
        border-bottom: 2px solid rgb(89, 87, 87);
        width:5rem;
        border:none;
        border-radius: 1rem;
        height:2rem;
        font-weight: 800;
        font-family: 'Nunito Sans', sans-serif;

        &:active {
            transform: translateY(4px);
        }

    }
}

.heading{
    color:white;
    display: flex;
    align-content: center;

    &__number{
        background-color: rgb(159, 94, 169);
        color:black;
        width: 4%;
        height: 3%;
        text-align: center;
        font-size: 1.4rem;
        margin-left: 1rem;
        border-radius: 1rem;
    }
}