.addedcontainer{
    display: flex;
    flex-wrap: wrap;
  
}

.added{
    display: flex;
    width:33%;
    justify-content: center;
    align-content: center;
    text-align: center;
    height: 25%;
   padding: 1rem;

    &__imagebox{
        width:100%;
    }
}

.addedbutton{
    display: flex;
    justify-content: center;
}