@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600&display=swap');
.header{
    display: flex;
    align-items: center;

    &__buttonbox{
        display: flex;
        justify-content: space-evenly;
        width:60%

    }

    &__logo{
        width:30%;
    }
    &__mybooks{
        width:10rem;
        border:none;
        height:2.5rem;
        margin-right: 0.5rem;
        font-size: 0.9rem;
        font-family: 'Nunito Sans', sans-serif;
        &:hover{
            background-color: #cfcbe6;
            border-bottom: 2px solid rgb(239, 239, 239);

        }
    }

    &__more{
        width:6rem;
        border:none;
        margin-right: 0.5rem;
        font-size: 0.9rem;
        font-family: 'Nunito Sans', sans-serif;
        &:hover{
            background-color: #cfcbe6;
            border-bottom: 2px solid rgb(239, 239, 239);

        }

    }
    &__buttonsignout{
        width:6rem;
        border:none;
        border-radius: 1rem;
        height:2rem;
        font-family: 'Nunito Sans', sans-serif;
        &:hover {
            box-shadow: inset 0 0 0 50px #cfcbe6}

    }
}