*, *::before, *::after {
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main{
background-color: rgb(228, 209, 249);
}

.app{
    display: flex;
}



