@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600&display=swap');

.page{
    margin:1rem;
    z-index: -1;

}

.hero{
    &__main{
        display: flex;
        background-color: #e7e4f9;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    &__container{
        padding:1rem;
    }
    &__herocontainer{
        height:80vh;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__heroimg{
        width:70%;
        height:90%;
    }

    &__heading{
        font-size: 1.5rem;
    }

    &__img{
        width:5rem;
        font-family: 'Nunito Sans', sans-serif;
    }

    &__author{
        font-size: 0.7rem;
        font-family: 'Nunito Sans', sans-serif;
    }
}

.articles{
    display: flex;

}
